{# <h2>Condoléances</h2>
{% if app.user %}
    <h3>Ajouter un message de condoléances</h3>
    {% include '_partials/_refreshForm.html.twig' %}  
{% endif %} #}
<div id="container-condoleances" class="js-auto-refresh-content">
        <div class="condoleance-memorial">
                <p>L'équipe d'Une Histoire de Pattes se joint à vous dans vos peines et vous adresse de sincères condoléances.</p>
        </div>
        {% if memorial.condoleances| length > 0 %}
        {% for condoleance in memorial.condoleances %}
                <div class="condoleance-memorial">
                        <p>{{ condoleance.auteur }}</p>   
                        <p>{{ condoleance.dateCreation| date('d-m-Y') }}</p>                     
                        <p>{{ condoleance.texte| raw }}</p>
                        {% if app.user == condoleance.auteur %}
                                <a href="{{path('remove_condoleance', {'idMemorial': memorial.id, 'id': condoleance.id}) }}">Supprimer</a>
                        {% endif %}
                </div>
        {% endfor %}   
        {% endif %}
</div>   
