
<div class="like-content">
    {% if app.user %}
        <a class="like-button" href="{{path('app_likeHistoire', {id: histoire.id})}}">
        {% endif %}
        {% if app.user in histoire.likes %}
            <i id="likedPaw" class="fa-solid fa-paw likedPaw"></i>
        {% else %}
            <i id="unlikedPaw" class="fa-solid fa-paw unlikedPaw"></i>
        {% endif %}
        <span>{{ histoire.likes|length }} patounes</span>
        {% if app.user %}
        </a>
    {% endif %}

</div>