
<div class="likeComment-content js-refresh-like">
    {% if app.user %}
        <a class="like-button" href="{{path('app_likeComment', {id: commentaire.id})}}">
        {% endif %}
        {% if app.user in commentaire.likes %}
            <i id="likedPaw" class="fa-solid fa-paw likedPaw"></i>
        {% else %}
            <i id="unlikedPaw" class="fa-solid fa-paw unlikedPaw"></i>
        {% endif %}
        <span>{{ commentaire.likes|length }} 
            {% if commentaire.likes|length > 1 %}
                patounes
            {% else %}
                patoune
            {% endif %}
        </span>
        {% if app.user %}
        </a>
    {% endif %}
</div>