<div class="memorial-card">
    <a href="{{path('show_memorial', {'id': memorial.id}) }}">
        <figure>
                <img src="{{ asset('uploads/imgMemorial/'~ memorial.photo) }}" alt="Mémorial de {{ memorial.nom }}">   
        </figure>       
        <p>{{ memorial.nom }}</p>          
    </a>
</div>
