<div class="memorial-card">
    <a href="{{path('show_memorial', {'id': memorial.id}) }}">
        <figure>
            <img src="{{ asset('uploads/imgMemorial/'~ memorial.photo) }}" alt="photo de l'animal">        
        </figure>       
        <p>{{ memorial.nom }}</p>          
    </a>
</div>
