
<div class="memorial-card">
    <div class="card-left">
        {% if memorial.photo == null %}
            <p>Pas de photo</p>
        {% else %}
            <figure>
                <img src="{{ asset('uploads/imgMemorial/'~ memorial.photo) }}" alt="photo de l'animal">                        
            </figure>
        {% endif %}
        <h2>{{ memorial.nom }}</h2>            
    </div>
    <div class="card-right">
        {# le filtre slice permet d'afficher un certain nombre de caractères => Ici, on prend du caractère 0 à 20 #}
        <p>{{ memorial.presentation|slice(0, 80) }}...</p>
        <a href="{{path('show_memorial', {'id': memorial.id}) }}">Voir le Memorial</a> 
        <div id="bandeaux">
            <div class="bandeau" id="bandeau1"></div>       
            <div class="bandeau" id="bandeau2"></div>       
            <div class="bandeau" id="bandeau3"></div>               
        </div>
    </div>
</div>