{% extends 'base.html.twig' %}

{% block title %}Memoriaux signalés{% endblock %}

{% block body %}

<div class="container-page administration">

        {% include '_partials/_adminnav.html.twig' %}
        <main class="main-administration">
            <h1>Memoriaux signalés</h1>
            <table>
                <tr>
                    <th>Nom</th>
                    <th>Auteur</th>
                    <th>Actions</th>
                </tr>
            {% for memorial in memoriaux %}
                <tr>
                    <td>
                        <p>{{ memorial.nom }}</p>                        
                    </td>
                    <td>
                        <p>{{ memorial.auteur }}</p>                        
                    </td>
                    <td>
                        <a href="{{ path('app_admin_memorial_show', {'id': memorial.id}) }}">Voir</a>                       
                    </td>
                </tr>
            {% endfor %}
            </table>
            <div class="pagination js-filter-pagination">
                {{ knp_pagination_render(memoriaux) }}
            </div>            
        </main>        

</div>
{% endblock %}
