{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="container-page">
    <h1>Bienvenue sur Une histoire de pattes !</h1>

    <section id="derniers-memoriaux">
        {% for memorial in derniersMemoriaux %}
            <div class="memorial-recent">
                {{ memorial.nom }}
                <img src="{{ asset('uploads/imgMemorial/'~ memorial.photo) }}" alt="photo de l'animal">
            </div>
        {% endfor %}
    </section>
    <section id="dernieres-belles-histoires">

    </section>
</div>
{% endblock %}
