*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


                                    /************** COMMUN **************/

:root {
    --nav: #FEFEFE;
    --navLink: #4B4B4B;
    --blanc: white;
    --couleurPrincipale: #71E2E2;
    --h1: 1.7rem;
    --h2: 1.4rem;
    --figcaption: 1.2rem;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    padding-top: 6vh;
    text-align: center;
    font-size: var(--h1);
    padding-bottom: 50px;
}

/* h2{
    font-size: var(--h2);
    text-align: center;
} */

.container-page{
    margin-top: 5vh;
    min-height: 100vh;
    position: relative;
    /* background-color: #F3F3F3; */
    background-color: #F6FDFF;
}

.pagination{
    text-align: center;
    padding: 50px 0;
}

.pagination .current,
.pagination span a{
    padding: 10px;
    margin: 0 2px;

}

.pagination .current{
    background-color: beige;
}

.pagination span a{
    background-color: var(--couleurPrincipale);    
}

                                    /*************  HEADER ET MENU DE NAVIGATION  ************/
#header-main{
    background-color: var(--nav);
    width: 100vw;
    height: 5vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}

nav{
    width: 100%;
    height: 100%;
}

#nav-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    font-size: 1.3rem;
}

#nav-menu li a{
    position: relative;
    color: var(--navLink);
}

#nav-menu li {
    position: relative;
}

#nav-menu li .fa-paw{
    display: none;
    position: absolute;
    top: -5px;
    transform: rotate(45deg);
}

                                        /********** HEADER HOVER  ***********/

#nav-menu li:hover{
    border-bottom: 2px solid var(--navLink);
}

#nav-menu li:hover .fa-paw{
    display: inline;
}


                                        /*************  FOOTER *************





                                        /*************  LOGIN & REGISTER **************/

.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
}


#form-login,
#form-register{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 400px;
    padding: 30px 30px 50px 30px;
}

#form-login .form-element,
#form-register .form-element div{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

#form-register #agree-terms-element div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#form-login input,
#form-register input{
    height: 2.5rem;
    border: none;
    padding-left: 10px;
    border-radius: 5px;
}

#form-login button,
#form-register button{
    margin: 25px 0 25px 0;
    height: 2.5rem;
    width: 100%;
}



                                        /********************  HOME ********************/


#bienvenue{
    min-height: 70vh;
    width: 100vw;
    background-image: url('../img/beige_shape.png');
    background-repeat: no-repeat;
    background-size: 100% 98%;
    padding-bottom: 5%;
}

 /* #bienvenue #bienvenue-sides{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2.5% 0 2.5%;
    gap: 20px;
}

#uhdp-description{
    flex: 1.3;
    min-height: 500px;
    text-align: justify;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding: 20px 0 20px 20px;
}  */

#bienvenue #carousel{
    position: relative;
    overflow: hidden;
    width: 100%;
}

#bienvenue .carousel-elements{
    display: flex;
    /* justify-content: center; */
}

#bienvenue #carousel .element{
    position: relative;
    flex: 1 0 100%;
    display: flex;
    align-items: center;
}

#bienvenue #carousel .element .over-carousel{
    flex-direction: column;
    align-items: center;
}

#bienvenue #carousel .element .over-carousel h1{
    text-align: inherit;
    padding: 0;
    font-size: 4rem;      
}

#bienvenue #carousel .element .over-carousel p{
    font-size: 3rem;
}

#bienvenue #carousel .element .over-carousel,
#bienvenue #carousel .element figure{
    display: flex;
    justify-content: center;  
    flex: 1; 
    /* max-height: 70vh;  */
}

#bienvenue #carousel figure img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    
} 

/* #bienvenue .over-carousel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

#nav-droite,
#nav-gauche{
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
    font-size: 3rem;
}

#nav-droite{
    right: 20px;
    rotate: 90deg;    
}

#nav-gauche{
    left: 20px;
    rotate: -90deg;
}

#nav-droite:hover,
#nav-gauche:hover{
    cursor: pointer;
}

/* #bienvenue-sides figure{
    height: 500px;
    flex: 1;
}

#bienvenue-sides figure img{
    height: 100%;
    width: 100%;
    object-fit: contain;
} */

.title-lines{
    position: relative;
    width: 600px;
    margin: 0 auto;
    font-size: var(--h2);
    text-align: center;
} 

 .title-lines::before{
    content: "";
    height: 2px;
    width: 150px;
    background-color: gray;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
} 

 .title-lines::after{
    content: "";
    height: 2px;
    width: 150px;
    background-color: gray;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 0;
}

#derniers-memoriaux,
#dernieres-belles-histoires{
    position: relative;
    padding: 50px 30px 50px 30px;
}

#container-memoriaux-recents,
#container-histoires-recentes{
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
    padding-top: 40px;
}

.memorial-recent{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px 10px 0px 0px;    
    padding: 20px 10px 20px 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: 0.5s;
    width: 350px;
    border: 2px solid black;      
    background-color: white;
    margin-bottom: 30px;
}

.memorial-recent a {
    height: 100%;
    width: 300px;
}

.memorial-recent figure{
    height: 300px;
    width: 300px;
    border: 2px solid black;  
    border-radius: 5px;
}

.memorial-recent p{
    text-align: center;
    font-size: var(--figcaption);
    font-weight: bold;
    padding-top: 1.7rem;
}

.memorial-recent img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.memorial-recent:hover{
    filter: grayscale();
    /* transform: scale(1.05); */
}

/* SECTION HISTOIRES RECENTES */

.histoire-recente{
    border: 1px solid rgb(214, 214, 214);
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    transition: 1s;
    margin-bottom: 30px;
    position: relative;
}

.histoire-recente:hover{
    transform: translateY(-10px);
}

.histoire-recente .hr-media figure{
    width: 100%;
    height: 250px;
}

.histoire-recente .hr-media figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.histoire-recente .hr-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    /* border: 1px solid red; */
    height: 100%;
    padding: 10px;
}

.histoire-recente .hr-infos{
    flex:1;
    width: 100%;
    /* border: 1px solid green; */
    display: flex;
    gap: 50px;
    /* justify-content: space-evenly; */
}

.histoire-recente .hr-texte{
    flex: 1;
}

.histoire-recente .hr-texte h3{
    padding-bottom: 5px;
}

.histoire-recente .hr-auteur{
    flex: 1;
    /* border: 1px solid brown; */
}

.histoire-recente .share-content{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* SECTIONS EXPLICATIONS */
#explications-memoriaux,
#explications-histoires{
    min-height: 30vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    /* border: 1px solid blue;       */
    background-image: url('../img/back2_blue2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#explications-memoriaux .texte,
#explications-histoires .texte{
    width:50%;
    font-size: 1.4rem;
    text-align: justify;
}


                                                                /*************  VUES CONCERNANT LES MEMORIAUX **************/

                                /* PAGE LISTE MEMORIAUX */

/* SECTION BANNIERE MEMORIAUX */
#banniere-memoriaux{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/memoriaux_bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    /* filter: grayscale(1); */
}

#banniere-memoriaux h1{
    color: white;
    text-shadow: 1px 2px black;
}


/* SECTION CATEGORIES */
#categories{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px 0;
}

/* SECTION INTERRACTION */
.interraction{
    text-align: center;
    padding: 20px 0;
}

.interraction a{
    background-color: var(--couleurPrincipale);
    padding: 10px;
    border-radius: 5px;
}

/* SECTION RECHERCHE */
.recherche{
    border: 1px solid green;
    display: none;
}

.recherche form{
    border: 2px solid pink;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recherche form .form-search{
    border: 2px solid pink;
}

.recherche form .form-elements{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.visible{
    display: block;
}



/* MEMORIAUX */

/* .memoriaux{
    border: 1px solid green;
} */

.container-memoriaux{
    /* border: 2px solid blue; */
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
    padding-top: 40px;
}

.memorial-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px 10px 0px 0px;    
    padding: 20px 10px 20px 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: 0.5s;
    width: 350px;
    border: 2px solid rgb(194, 194, 194);      
    background-color: white;
    margin-top: 50px;
}

.memorial-card a {
    height: 100%;
    width: 300px;
}

.memorial-card figure{
    height: 300px;
    width: 300px;
    border: 2px solid rgb(194, 194, 194);      

    border-radius: 5px;
}

.memorial-card p{
    text-align: center;
    font-size: var(--figcaption);
    font-weight: bold;
    padding-top: 1.7rem;
}

.memorial-card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.memorial-card:hover{
    filter: grayscale();
    /* transform: scale(1.05); */
}


/*****  PAGE MEMORIAL *****/

.page-memorial{
    padding: 5vh 10vw 0 10vw;
}

#header-memorial{
    display: flex;  
    gap: 10px;
}

#header-memorial figure{
    flex: 2;
    height: 500px;
    border: 1px solid rgb(214, 214, 214);
    z-index: 99;
    border-radius: 5px; 
    overflow: hidden;            
}

#header-memorial figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid white;
} 

#memorial-infos{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:1;
    padding: 20px;
}

#memorial-title{
    text-align: inherit;
    padding: 0 0 2rem 0;
}

#memorial{
    margin-top: 3rem;
    /* border: 2px solid pink; */
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: justify;
}

#memorial h2{
    padding-bottom: 1rem;
}

#galerie-photo,
#condoleances{
    text-align: center;
    padding: 5rem 0 5rem 0;
}

#galerie-photo h2,
#condoleances h2{
    padding-bottom: 2rem;
}

#condoleances{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 5vh;
}

#container-condoleances{
    min-height: 5vh;
}

.condoleance-memorial{
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
   border-bottom: 0.5px solid gray;
    padding: 20px 10px 20px 10px;    
}

.showSoutient-content .unlikedPaw{
    font-size: 1rem;
    color: gray;
}

.showSoutient-content .likedPaw{
    font-size: 1rem;
    color: blue;
}

#condoleances form{
    border: 3px solid red;
    width: 50%;
}


                                                            /************  VUES CONCERNANT LES BELLES HISTOIRES *************/
                                                    
                    /****  PAGE BELLES HISTOIRES *****/

#genres-histoires{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 5rem;
}

#genres-histoires a{
    background-color: var(--couleurPrincipale);
    padding: 10px;
    border-radius: 5px;
    color: white;
}

#genres-histoires a:hover{
    color: var(--couleurPrincipale);
    border: 1px solid var(--couleurPrincipale);
    background-color: white;
}

.creation{
    text-align: center;
}

#banniere-belles-histoires{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/banniere_belle_histoire2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    /* filter: grayscale(1); */
}

#banniere-belles-histoires h1{
    color: white;
    text-shadow: 1px 2px black;
}

#container-histoires{
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
    padding-top: 40px;
}

.belle-histoire-card{
    border: 1px solid rgb(214, 214, 214);
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    transition: 1s;
    margin-bottom: 30px;
    position: relative;
}

.belle-histoire-card:hover{
    transform: translateY(-10px);
}

.belle-histoire-card .hr-media figure{
    width: 100%;
    height: 250px;
}

.belle-histoire-card .hr-media figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.belle-histoire-card .hr-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    /* border: 1px solid red; */
    height: 100%;
    padding: 10px;
}

.belle-histoire-card .hr-infos{
    flex:1;
    width: 100%;
    /* border: 1px solid green; */
    display: flex;
    gap: 50px;
    /* justify-content: space-evenly; */
}

.belle-histoire-card .hr-texte{
    flex: 1;
}

.belle-histoire-card .hr-texte h3{
    padding-bottom: 5px;
}

.belle-histoire-card .hr-auteur{
    flex: 1;
    /* border: 1px solid brown; */
}

.belle-histoire-card .share-content{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

                            /* BELLE HISTOIRE PAGE */
#banniere-belle-histoire{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/banniere_belle_histoire2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    /* filter: grayscale(1); */
}

#banniere-belle-histoire h1{
    color: white;
    text-shadow: 1px 2px black;
}

#histoire{
    padding-top: 1%;
}

#histoire figure{
    width: 400px;
    height: 400px;
}

#histoire figure img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#histoire header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#histoire header #histoire-interraction{
    display: flex;
    gap: 20px;
    padding: 10px;
}

#histoire header #histoire-interraction .fa-paw,
#histoire header #histoire-interraction .fa-star{
    font-size: 1.2rem;    
}

#histoire header #histoire-interraction .share{
    display: flex;
    font-size: 1.2rem;
    gap: 20px;
}

#histoire-texte{
    padding: 2%;
    text-align: justify;
}

#ajout-commentaire,
#comment-histoire{
    padding: 2%;
}

#comment-histoire .commentaire{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px;
}

#comment-histoire .commentaire,
#comment-histoire .commentaire .commentaire-content .comment-infos
{
    gap: 7px;
    display: flex;
    align-items: center;
}


#comment-histoire .commentaire .commentaire-photo figure{
    height: 50px;
    width: 50px;
}

#comment-histoire .commentaire .commentaire-photo figure img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* #histoire header .fa-paw{
    font-size: 1rem;
} */



                                                                /******* VUES CONCERNANT LE FORUM ********/

/* PAGE PRINCIPALE (index.html.twig) */

.forum-page{
    padding: 5vh 10vh 0 5vh;
}

#banniere-forum{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/banniere_belle_histoire2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    /* filter: grayscale(1); */
    border-radius: 15px;
}

#topics{
    border: 2px solid red;
}

.topic{
    padding: 20px;
    border: 1px solid blue;
    min-height: 10vh;
    margin: 2vh 0 2vh 0;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.topic .topic-infos{
    display: flex;
    align-items: center;
    gap: 10px;
}

#topics .topic-infos figure{
    width: 50px;
    height: 50px;
    background-color: green;
}

#topics .topic-infos figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.topic .topic-posts{
    border: 1px solid orange;
    background-color: gray;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* PAGE TOPIC */

#banniere-topic{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("../img/banniere_belle_histoire2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top; */
    /* filter: grayscale(1); */
    border-radius: 15px;
    background-color: beige;
}

.post{
    padding: 20px;
    border: 2px solid blue;
    background-color: var(--couleurPrincipale);
    min-height: 10vh;
    margin: 1vh 0 1vh 0;
}

.post .user-post-infos{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 2rem;
}

.post .user-post-infos figure{
    width: 50px;
    height: 50px;
    background-color: green;
}

.post .user-post-infos figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}