.like-content .unlikedPaw{
    font-size: 7rem;
    color: gray;
}

.like-content .likedPaw {
    font-size: 7rem;
    color: blue; 
}

.likeComment-content .unlikedPaw{
    font-size: 1rem;
    color: gray;
}

.likeComment-content .likedPaw{
    font-size: 1rem;
    color: blue;
}

#favoris-content .likedStar{
    font-size: 1rem;
    color: yellow;
}

#favoris-content .unlikedStar{
    font-size: 1rem;
}