*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}

header ul{
    display: flex;
}

.administration{
    display: flex;
}