{% extends 'base.html.twig' %}

{% block title %}Ajout mémorial{% endblock %}

{% block body %}


<div class="container-page">

    <h3>Création d'un mémorial</h3>

    {{ form_start(formAddMemorial) }}    
    {{ form_end(formAddMemorial) }}

</div>

{% endblock %}
