{% extends 'base.html.twig' %}

{% block title %}Mémoriaux{% endblock %}

{# {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/memorial.css') }}">
{% endblock %} #}

{% block body %}

<div class="container-page js-filter page-memoriaux">
    <section id="banniere-memoriaux">
        <h1>Recherche de mémorial</h1>
    </section>
    <div class="recherche">
        {% include '_partials/_filter.html.twig' with {formSearch:formSearch} only %}
    </div>
    {% include '_partials/_memoriaux.html.twig' %} 
    <div class="pagination js-filter-pagination">
        {% if memoriaux != null %}
        {{ knp_pagination_render(memoriaux) }}
        {% endif %}
    </div>       
       

</div>
{% endblock %}
