{% extends 'base.html.twig' %}

{% block title %}Ajouter une belle histoire{% endblock %}

{% block body %}

<div class="container-page">
    <h2>Ajouter une belle histoire</h2>

    {{ form_start(formAddHistoire) }}    
    {{ form_end(formAddHistoire) }}

</div>
{% endblock %}
