{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}

<div class="container-page">

    <h2>Liste des catégories</h2>

    {% for categorie in categories %}
        <div class="categorie">
            <p>{{ categorie.nom }}  </p>  
            <a href="{{ path('app_admin_remove_categorie', {'id': categorie.id}) }}">Supprimer</a>      
        </div>
    {% endfor %}

    <h4>Ajouter une catégorie</h4>

    {{form_start(formAddCategorie)}}
    {{form_end(formAddCategorie)}}

</div>
{% endblock %}