{% extends 'base.html.twig' %}

{% block title %}Condoléances{% endblock %}

{% block body %}

<div class="container-page">

    <div class="administration">
        {% include '_partials/_adminnav.html.twig' %}
        <main>
            <h1>Messages de condoléance</h1>
            {% for condoleance in condoleances %}
                <div>
                    <p>{{ condoleance.texte|raw }}</p>
                </div>
            {% endfor %}
        </main>        
    </div>
    <div class="pagination js-filter-pagination">
        {{ knp_pagination_render(condoleances) }}
    </div>

</div>
{% endblock %}
