{% extends 'base.html.twig' %}

{% block title %}Histoires désapprouvées{% endblock %}

{% block body %}

<div class="container-page">

    <div class="administration">
        {% include '_partials/_adminnav.html.twig' %}
        <main>
            <h1>Histoires désapprouvées</h1>
            {% for histoire in histoiresDesapprouvees %}
                <div>
                    <p>{{ histoire.titre }} {{ histoire.pseudo }}  </p>     
                </div>
            {% endfor %}
        </main>        
    </div>
    <div class="pagination js-filter-pagination">
        {{ knp_pagination_render(histoiresDesapprouvees) }}
    </div>
</div>
{% endblock %}