{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

<div class="container-page">

    <div class="administration">
        {% include '_partials/_adminnav.html.twig' %}
        <main>
            <h1>Administration</h1>
            <p>Bienvenue {{ app.user.pseudo }}</p>
        </main>        
    </div>

</div>
{% endblock %}
