{% extends 'base.html.twig' %}

{% block title %}Memoriaux{% endblock %}

{% block body %}

<div class="container-page">

    <div class="administration">
        {% include '_partials/_adminnav.html.twig' %}
        <main>
            <h1>Memoriaux</h1>
            {% for memorial in memoriaux %}
                <div>
                    <p>{{ memorial.nom }}</p>
                </div>
            {% endfor %}
        </main>        
    </div>
    <div class="pagination js-filter-pagination">
        {% include '_partials/_pagination.html.twig'  %}
    </div>

</div>
{% endblock %}
