{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}

<div class="container-page">

    <h1>Liste des utilisateurs</h1>

    <section id="users-bannis">
        <h2>Utilisateurs bannis</h2>

        {% for banni in utilisateursBannis %}
            <div class="banni">
                <p>{{ banni.pseudo }}  </p>  
                <a href="{{ path('show_profile', {'id': banni.id}) }}">Voir le profil</a>      
            </div>
        {% endfor %}
    </section>
    <section id="users-non-bannis">
        <h2>Utilisateurs non bannis</h2>

        {% for utilisateur in utilisateursNonBannis %}
            <p>{{ utilisateur.pseudo }}</p>
            <a href="{{ path('show_profile', {'id': utilisateur.id}) }}">Voir le profil</a>
        {% endfor %}        
    </section>
</div>
{% endblock %}