{% extends 'base.html.twig' %}

{% block title %}Utilisateurs bannis{% endblock %}

{% block body %}

<div class="container-page administration">

    {% include '_partials/_adminnav.html.twig' %}
    <main class="main-administration">
        <h1>Utilisateurs bannis</h1>

        <table>
            <tr>
                <th>Pseudo</th>
                <th>Date d'inscription</th>
                <th>Actions</th>
            </tr>
            {% for banni in utilisateursBannis %}
                <tr class="banni">
                    <td>
                      <p>{{ banni.pseudo }}  </p>  
                    </td>
                    <td>
                        {{ banni.dateInscription| date('d-m-Y') }}
                    </td>
                    <td>
                        <a href="#">Voir</a>                           
                    </td>
                </tr>
            {% endfor %}            
        </table>

        <div class="pagination js-filter-pagination">
            {{ knp_pagination_render(utilisateursBannis) }}
        </div>          
    </main>        
</div>
{% endblock %}
