{% extends 'base.html.twig' %}

{% block title %}Histoires en attente{% endblock %}

{% block body %}

<div class="container-page administration">

        {% include '_partials/_adminnav.html.twig' %}
        <main class="main-administration">
            <h1>Histoires en attente</h1>
            {% for histoire in histoiresWaiting %}
                <div>
                    <p>{{ histoire.titre }} {{ histoire.pseudo }}  </p>     
                </div>
            {% endfor %}
            <div class="pagination js-filter-pagination">
                {{ knp_pagination_render(histoiresWaiting) }}
            </div>            
        </main>        
</div>
{% endblock %}