{% extends 'base.html.twig' %}

{% block title %}Histoires publiées{% endblock %}

{% block body %}

<div class="container-page administration">

        {% include '_partials/_adminnav.html.twig' %}
        <main class="main-administration">
            <h1>Histoires publiées</h1>

            <table>
                <tr>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Action</th>
                </tr>
            {% for histoire in histoiresPubliees %}
                <tr>
                    <td>
                        <p>{{ histoire.titre }}</p>
                    </td>
                    <td>
                        <p>{{ histoire.auteur }}</p>   
                    </td>
                    <td>
                        <a href="#">Voir</a>
                    </td>
                      
                </tr>
            {% endfor %}
            </table>
            <div class="pagination js-filter-pagination">
                {{ knp_pagination_render(histoiresPubliees) }}
            </div>            
        </main>        

</div>
{% endblock %}