{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
<div class="container-page">
    <h1>Messagerie</h1>

    <p>Messages non lus :
        {# {% for nonlu in nonLus %}
            {{nonlu.1}}
        {% endfor %}         #}
    </p>

    <a href="#">Messages Reçus</a>
    <a href="{{ path('sent_messages') }}">Messages envoyés</a>
    <a href="#">Correspondants</a>

</div>
{% endblock %}
