{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
<div class="container-page">
    <h1>Messages envoyés</h1>

    <a href="#">Messages Reçus</a>
    <a href="#">Messages envoyés</a>
    <a href="#">Correspondants</a>

    {% for message in messages %}
    <div>
        {# {{dump(message)}}<br> #}
        <p>A : {{ message.destinataire }}</p>
        <p>{{ message.texte }}</p>
        <br>
    </div>

    {# Vérifier if destinataire not in app.user.messagesRecus expediteur id #}
        
    {% endfor %}

</div>
{% endblock %}
