{% extends 'base.html.twig' %}

{% block title %}Mur de commémoration{% endblock %}

{% block body %}

<div class="container-page">

    <section id="banniere-mur-commemoration">
        <h1>Mur de commémoration</h1>
    </section>

    <div class="message-non-connecte">
        <p>Le mur de commémoration est un espace permettant d'écrire un mot de façon anonyme pour les autres membres, pour les animaux 
            ayant rejoint les étoiles. pour y accéder, Veuillez vous <a href="{{ path('app_register') }}">inscrire</a> ou vous <a href="{{ path('app_login') }}">connecter</a>.
        </p>        
    </div>
</div>
{% endblock %}
