{% extends 'base.html.twig' %}

{% block title %}Mur de commémoration{% endblock %}

{% block body %}

<div class="container-page">

    <h3>Mur de commémoration</h3>

    <p>Le mur de commémoration est un espace permettant d'écrire un mot pour les animaux 
        ayant rejoint les étoiles. pour y accéder, vous devez avoir un compte utilisateur et être vérifié</p>

</div>
{% endblock %}
