{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}

<div class="container-page">

    <p>
        Nom du site : [Nom du site]
        Propriétaire du site : [Nom du propriétaire]
        Adresse : [Adresse du propriétaire]
        Email : [Adresse email du propriétaire]
        
        Hébergement du site :
        [Nom de l'hébergeur]
        [Adresse de l'hébergeur]
        [Téléphone de l'hébergeur]
        
        Propriété intellectuelle :
        Le contenu du site, y compris les textes, les images, les vidéos et les éléments graphiques, est protégé par les lois sur la propriété intellectuelle. Toute reproduction, distribution ou utilisation du contenu sans autorisation préalable est strictement interdite.
        
        Données personnelles :
        Le site collecte et traite certaines données personnelles conformément à sa politique de confidentialité. En utilisant le site, vous consentez à la collecte, au traitement et à l'utilisation de vos données personnelles selon les termes de cette politique.
        
        Cookies :
        Le site utilise des cookies pour améliorer votre expérience de navigation. En utilisant le site, vous consentez à l'utilisation de cookies conformément à la politique de cookies du site.
        
        Liens externes :
        Le site peut contenir des liens vers des sites tiers. Nous n'avons aucun contrôle sur ces sites et déclinons toute responsabilité quant à leur contenu ou à leurs pratiques de confidentialité. L'utilisation de ces liens se fait à vos propres risques.
        
        Responsabilité :
        Le site s'efforce de fournir des informations précises et à jour. Cependant, nous ne pouvons pas garantir l'exactitude, l'exhaustivité ou la pertinence des informations fournies. Nous déclinons toute responsabilité quant aux dommages ou préjudices découlant de l'utilisation du site.
        
        Droit applicable et juridiction compétente :
        Les présentes mentions légales sont soumises au droit applicable dans votre pays. Tout litige relatif à l'utilisation du site sera de la compétence exclusive des tribunaux compétents de votre juridiction.
        
        Pour toute question ou demande concernant les mentions légales, veuillez contacter le propriétaire du site à l'adresse indiquée ci-dessus.
    </p>

</div>
{% endblock %}