{% extends 'base.html.twig' %}

{% block title %}Topics déverrouilés{% endblock %}

{% block body %}

<div class="container-page administration">

        {% include '_partials/_adminnav.html.twig' %}
        <main class="main-administration">
            <h1>Topics déverrouilés</h1>
            {% for topic in topicsDeverrouilles %}
                <div>
                    <p>{{ topic.titre }} {{ topic.auteur}}</p>    
                    <a href="#">Modérer</a> 
                </div>
            {% endfor %}
            <div class="pagination js-filter-pagination">
                {{ knp_pagination_render(topicsDeverrouilles) }}
            </div>            
        </main>        

</div>
{% endblock %}