{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

<div class="container-page">
    <section id="infos-mon-profil">
        <h3>Mon profil</h3>
        <figure>
            <img src="" alt="">
            <figcaption>{{ user.pseudo }}</figcaption>
        </figure>        
    </section>

    <section id="mes-memoriaux">

    </section>
    <section id="mes-histoires">

    </section>
    <section id="mes-topics">

    </section>
</div>
{% endblock %}