{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}

<div class="container-page">

    {% if app.user.isVerified %}
        <a href="{{ path('add_topic') }}">Créer un topic</a>
    {% else %}
        <p>Veuillez cliquer sur le lien envoyé à votre adresse mail pour pouvoir créer un topic</p>
    {% endif %}
    <h2>Les topics</h2>

    {% for topic in topics %}
    <div class="topic">
        {{ topic.titre }}
        <a href="{{path('show_topic', {'id': topic.id}) }}">Voir le topic</a>
    </div>
    {% endfor %}

</div>
{% endblock %}
