{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}

<div class="container-page">

    <h1>Forum</h1>

    <p>Le forum est un espace d'échange. pour y accéder, vous devez avoir un compte utilisateur et être vérifié</p>

</div>
{% endblock %}
