{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}

<div class="container-page">

    <section id="banniere-forum">
        <h1>Forum</h1>
    </section>

    <div class="message-non-connecte">
        <p>Le forum est un espace d'échange entre membres inscrits. Pour y accéder, Veuillez vous <a href="{{ path('app_register') }}">inscrire</a> ou vous <a href="{{ path('app_login') }}">connecter</a>.
        </p>        
    </div>

</div>
{% endblock %}
